nav {
    display: flex; 
    justify-content: space-between;
}

#highscores {
    font-size: 16pt;
    padding-left: 5px;
}

#timer {
    font-size: 16pt;
    padding-right: 5px;
}

#page {
    background-color: #7cbdc9;
}

.start {
    color: #40817a;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20%;
    font-size: 18pt;
}

#container {
    border: 2px solid blue;
}

.options:hover {
    background-color: lightblue;
}

.hide {
    display: none;
}

.userInput {
    margin-top: 20%;
    margin-left: 40%;
}

.submitBtn {
    margin-left: 49%;
}

.userScore {
    text-align: center;
}